*{
	box-sizing: border-box;
}

body{
	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}

ul{
	margin: 0;
	padding-left:0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.container{
	display: grid;
	place-items: center;

	grid-template-columns: repeat(8,1fr);
	grid-template-rows: repeat(5,1fr);
	gap: 1px;

	width: 150px;
	height: 55px;
	border:2px solid salmon;
}

.button{
	font-family: 'poppins';
	font-family: 'lexend-deca';
	font-size: 6px;

	cursor: pointer;
	border: none;
	padding: 2px 4px;
	background-color: rgb(233, 231, 229);
}

.button-next{
	grid-column: 2/3;
	grid-row: 1/2;
}

.button-por{
	grid-column: 8/9;
	grid-row: 2/3;
}

.button-mas{
	grid-column: 8/9;
	grid-row: 3/4;
}

.button-menos{
	grid-column: 8/9;
	grid-row: 4/5;
}

.reloj{
	display:flex;
	align-items: center;
	justify-content: center;


	grid-column: 2/8;
	grid-row: 2/5;
	 width: 120px;
 	height: 35px; 
	border: 1px solid red;
}






